$primary: #046e97;
$primary-transparent: rgba(4, 109, 151, 0.4);
$primary-bright: #6a98aa;
$secondary: #f44336;
$black: #222;
$white: #f9f9f9;
$grey: #666;
$grey-bright: #bbb;
$white-transparent: rgba(255, 255, 255, 0.4);

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
.underline-primary {
  border-bottom: 3px solid $primary-transparent;
}
.underline-secondary {
  border-bottom: 3px solid $secondary;
}
