.main-content {
  background: rgb(249, 249, 249);
  background: linear-gradient(118deg, #fff 0%, #ddd 90%);
  padding-left: 1rem;

  .section-title {
    padding: 0.5rem;
    margin-bottom: -1rem;
  }

  .hero-header {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3rem;
  }

  .keyword {
    font-weight: 100;
  }

  .main-header {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .main-icon {
    margin-right: 0.8rem;
    color: $primary-bright;
  }

  .skills-ul {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(4.6rem, 1fr));
  }

  .skills-li {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .skill-description {
    font-weight: 400;
    font-size: 0.7rem;
  }

  .skill-rating {
    color: $primary-bright;
    font-size: 0.4rem;
    margin-bottom: 0.3rem;
  }

  .main-link {
    color: #484848;
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .section-software {
    p {
      color: #777;
      line-height: 1.7rem;
      font-style: italic;
      font-size: 1.15rem;
    }
  }

  .infos {
    max-width: calc(100% - 30px);
    margin-bottom: 2rem;
    justify-content: start;
  }

  .date-n-location {
    min-width: 5rem;
    max-width: 17rem;
    margin-right: 1rem;
  }

  .date-parag {
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.3;
  }

  .description-heading {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.08rem;
    background: rgb(238, 238, 196);
    display: inline;
  }

  .description-sub-heading {
    margin: 0.3rem 0;
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: $grey;
    text-transform: capitalize;
  }

  .description-content {
    font-size: 0.8rem;
    line-height: 1.5;
    color: $grey;
  }

  .description-parag {
    max-width: 700px;
    color: #444;
    font-size: 0.9rem;
  }

  .bulleted-list {
    list-style: initial;
    font-size: inherit;
    color: #484848;
    line-height: 1.5;
    margin: 0.3rem 0.9rem;
  }

  .reference-name {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .reference-position {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }

  .reference-parag {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  @media (max-width: 700px) {
    .main-content {
      padding: 0 3px;

      .hero-header {
        font-size: 1.8rem;
        line-height: 2rem;
      }

      .date-n-location {
        display: block;
        min-width: 4.5rem;
        padding-top: 0.5rem;
      }

      .bullet {
        display: none;
      }

      .date-parag {
        font-size: 0.7rem;
        line-height: 1.3;
        text-align: center;
      }

      .location {
        display: block;
      }

      .description-parag {
        font-size: 0.8rem;
      }

      .references-info {
        flex-wrap: wrap;
      }

      .reference-details {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
      }

      .reference-details:last-child {
        margin-bottom: 0;
      }

      .section-software {
        p {
          padding: 0 1rem;
          font-size: 0.9rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}